No. 1

In [24]:
!python

Python 3.8.18 (default, Sep 11 2023, 08:17:16)
[Clang 14.0.6 ] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>
KeyboardInterrupt
>>>
>>>

No. 2

In [1]:
3+4 #Addition

7

In [2]:
print(3-4) #Subtraction

-1

In [3]:
print(3*4) #Multiplication

12

In [4]:
print(3/4) #division

0.75

In [5]:
print(3**4) #Exponential

81

In [6]:
print(3//4) #floor division which removes the reminder and return the integer value

0

In [7]:
print(4//3) #Another floor division as above

1

No. 3

In [9]:
print('Sani')

Sani

In [10]:
print('Aji')

Aji

In [11]:
print('Nigeria')

Nigeria

In [12]:
print('I am enjoying 30 days of Python')

I am enjoying 30 days of Python

No. 4

In [13]:
print(type(10))

<class 'int'>

In [14]:
print(type(9.8)
    )

<class 'float'>

In [16]:
print(type(3.14))

<class 'float'>

In [17]:
print(type(4-4j))

<class 'complex'>

In [18]:
l= ['Asabenah', 'Python','Finland']
print(type(l))

<class 'list'>

In [25]:
print(type('Sani'))

<class 'str'>

In [26]:
print(type('Aji'))

<class 'str'>

In [27]:
print(type('Nigeria'))

<class 'str'>

Exercise Level 3

No. 1

In [28]:
type(10)

int

In [29]:
print(type(0.2))

<class 'float'>

In [32]:
print(type(1+2j))

<class 'complex'>

In [33]:
print(type('Water'))

<class 'str'>

In [35]:
print(type(2>3))

<class 'bool'>

In [36]:
print(type(['Arewa', 'Data','Sicence']))

<class 'list'>

In [38]:
print(type((1,2,3,4,5)))

<class 'tuple'>

In [41]:
D = {'date': '1st December,2023', 'Time': '8pm'}
print(type(D))

<class 'dict'>

In [42]:
print(type({'a','b','c'}))

<class 'set'>

No. 2: Euclidian distance calculation. For two points say (a_1, b_1) and (a_2, b_2) in two dimensional Euclidian space, the distance between them is given as
distance = square root((a2-a1)**2 + (b2-b1)**2)

In [46]:
distance = ((10-2)**2 + (8-3)**2)**0.5
print(distance)

9.433981132056603