In [ ]:
#1 Declare an empty list
L =[]
#or
L = list()
print(L)

In [ ]:
#2 Declare a list with more than 5 items
L = ['a','b','c','d','e','f','g']

# 3 Find the length of your list
print(len(L))

In [ ]:
#4 Get the first item, the middle item and the last item of the list
print(L[0])
print(L[3])
print(L[-1])

In [ ]:
#5 Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Sani', 200, 250, 'Married', 'Bekaji']

In [ ]:
#6 Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = [ 'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle','Amazon']

#7 Print the list using print()
print(it_companies)

In [ ]:
#8 Print the number of companies in the list
print(len(it_companies))

In [ ]:
#9 Print the first, middle and last company
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

In [ ]:
# 10 Print the list after modifying one of the companies
it_companies[2] = 'Twitter'
print(it_companies)

In [ ]:
#11 Add an IT company to it_companies
it_companies.append('Infosys')
print(it_companies)

In [ ]:
# 12  Insert an IT company in the middle of the companies list
it_companies.insert(4,'Databricks')
print(it_companies)

In [ ]:
#13 Change one of the it_companies names to uppercase (IBM excluded!)
print(it_companies[0].upper())
it_companies[0] = 'FACEBOOK'
print(it_companies)

In [ ]:
#14 Join the it_companies with a string '#;  '
'#;'.join(it_companies)

In [ ]:
#15 Check if a certain company exists in the it_companies list.
print('Twitter' in it_companies)

In [ ]:
#16 Sort the list using sort() method
it_companies.sort()
print(it_companies)

In [ ]:
#17 Reverse the list in descending order using reverse() method
it_companies.sort(reverse=True)
print(it_companies)

In [ ]:
#18 Slice out the first 3 companies from the list
print(it_companies[0:3])

In [ ]:
#19 Slice out the last 3 companies from the list
print(it_companies[-3:])

In [ ]:
# 20 Slice out the middle IT company or companies from the list
print(it_companies[3:5:1])

In [ ]:
#21 Remove the first IT company from the list
it_companies.pop(0)
print(it_companies)

In [ ]:
print(it_companies)

In [ ]:
#22 Remove the middle IT company or companies from the list
del it_companies[2:4]
print(it_companies)

In [ ]:
#23 Remove the last IT company from the list
del it_companies[-1]
print(it_companies)

In [ ]:
#24 Remove all IT companies from the list
del it_companies[0:3]
print(it_companies)

In [ ]:
#25 Remove all IT companies from the list
it_companies.clear()
print(it_companies)

In [ ]:
#26 Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
L = front_end+back_end
print(L)

In [ ]:
#27 After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

In [ ]:
#Level 2
#Sort the list and find the min and max age

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

In [ ]:

print(min(ages))

In [ ]:
print(max(ages))

In [ ]:
#Add the min age and the max age again to the list
ages.append(min(ages))
print(ages)

In [ ]:
#Add the min age and the max age again to the list
ages.append(max(ages))
print(ages)

In [ ]:
#Find the median age (one middle item or two middle items divided by two)
import numpy as np
print(np.median(ages))

In [ ]:
#Find the average age (sum of all items divided by their number )
print(np.average(ages))

In [ ]:
#Find the range of the ages (max minus min)
print(max(ages) -min(ages))

In [ ]:
#Compare the value of (min - average) and (max - average), use abs() method
comp1 = min(ages)-np.average(ages)
comp2 = max(ages) - np.average(ages)
print(abs(comp1-comp2))

In [ ]:
#given
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimba'
]

#Find the middle country(ies) in the list
print(len(countries))
print(len(countries)/2)
print(countries[97:98])
print(countries.index('Liberia'))

In [ ]:
#Divide the countries list into two equal lists if it is even if not one more country for the first half.
H1 = countries[0:97]
print(len(H1))
H2 = countries[97:194]
print(len(H2))
print(len(H1)+len(H2))

In [ ]:
#['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
countriees = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
ch, Ru, Us, *Scandic = countriees
print(ch)
print(Ru)
print(Us)
print(Scandic)